.photo{ /* Cut the photo at center as square, do not rescale */
    position: relative;
    float: left;
    width:100%;
    height:100%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}


.photo2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


